@import "tailwindcss";


html, body {
  max-width: 100%;
  overflow-x: hidden;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeInUp 0.8s ease forwards;
}